@import "tailwindcss";

body {
  background-color: black;
  color: #10b981;
}

.crt-overlay {
  position: relative;
}

.crt-overlay::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.03));
  z-index: 9999;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.glow-text {
  text-shadow: 0 0 5px currentColor;
}
